body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
header{
    width: 100%;
    background-color: #122;
    min-width: 435px;
    height: 60px;
}
header nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
nav .left-side{
    padding-left: 10px;
}
nav .left-side img{
    width: 40px;
    height: 40px;
}
nav .left-side a{
    display: flex;
    align-items: center;
    color: #FFFF;
    text-decoration: none;
}

nav .right-side ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
nav .right-side ul li{
    padding-right: 25px;
}
nav .right-side ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
nav .middle-side{
    width: 250px;
    min-width: 140px;
    height: 33px;
    border: 1px solid #FFFF;
    border-radius: 20px;
    background-color: #f1f1f1;
}
nav .middle-side .container-search-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav .middle-side input{
    border: none;
    background-color: transparent;
    height: 33px;
    width: 90%;
    border-radius: 0 15px 15px 0;
    padding: 0 0 0 10px;
}
nav .middle-side .search-icon{
    display: inline-block;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Search_Icon.svg/500px-Search_Icon.svg.png?20181016161702");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 25px;
    padding-left: 10px;
}